{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
}

button:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

/* HEADER SECTION */
.navbar {
  background-color: #002B44;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  filter: brightness(0) invert(1);
  height: 40px;
  width: 60px;
  margin: 0 10px;
}

.navbar-name {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 0 10px 0 30px;
}

.navbar-name::before {
  content: '|';
  padding-right: 10px;
}

.dropdown-menu {
  background-color: #354D73;
}

.dropdown-item {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  padding: 10px 24px;
}

.dropdown-item:hover {
  background-color: #b7d5e4;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #fff;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
}

.navbar-dark .navbar-nav .demo {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-btn {
  background: #46F7AD;
  color: #002B44;
  padding: 10px 15px;
  border: 0;
  text-transform: uppercase;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
}

.navbar .navbar-nav .nav-item:hover .nav-btn {
  color: #002B44;
}

.navbar-dark .navbar-nav .verification::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .about::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .company::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .login::before {
  content: '|';
  padding-right: 8px;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .nav-logo {
    margin: 0 10px 0 0;
    filter: brightness(0) invert(1);
    height: 25px;
    width: 40px;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-name {
    margin: 0 10px 0 10px;
    font-size: 12px;
  }

  .collapse {
    display: flex;
    justify-content: flex-start;
  }

  .nav-item {
    margin: 5px 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    margin: 0;
  }

  .navbar-dark .navbar-nav .nav-btn {
    margin: 0;
  }

  .navbar-dark .navbar-nav .about::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .company::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .verification::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .login::before {
    content: none;
    padding-right: 0;
  }
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #fff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* ============ desktop view .end// ============ */
/* HEADER SECTION */
/* HERO SECTION  */
.hero {
  background: url(img/business/home.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  margin: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-header {
  text-transform: uppercase;
  color: #002B44;
  text-align: center;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
}

@media screen and (max-width:991px) {
  .hero {
    height: 50vh;
  }
}

/* HERO SECTION  */
/* SUMMARY SECTION */
.summary {
  background-color: #fff;
  padding: 70px 0;
}

.summary-container {
  padding-left: 0;
  display: flex;
  align-items: center;
  max-width: 90rem;
}

.summary-img {
  max-width: 75%;
}

.summary-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: space-between;
  max-width: 25%;
}

.summary-detail {
  border-left: 2px solid #bfc0ec;
  padding-left: 30px;
  transition: all 0.4s ease-in-out;
}

.summary-detail-2 {
  border-left: 2px solid #9dd7e1;
  padding-left: 30px;
  transition: all 0.4s ease-in-out;
}

.summary-detail-3 {
  border-left: 2px solid #acdecb;
  padding-left: 30px;
  transition: all 0.4s ease-in-out;
}

.summary-detail:hover {
  filter: contrast(0.4);
  transition: all 0.4s ease-in-out;
}

.summary-detail-2:hover {
  filter: contrast(0.4);
  transition: all 0.4s ease-in-out;
}

.summary-detail-3:hover {
  filter: contrast(0.4);
  transition: all 0.4s ease-in-out;
}

.summary-detail-header, .summary-detail-header-2, .summary-detail-header-3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.summary-detail-header {
  color: #bfc0ec;
}

.summary-detail-header>span {
  margin-left: 5px;
  display: inline-block;
}

.summary-detail-header-2 {
  color: #9dd7e1;
}

.summary-detail-header-2>span {
  margin-left: 5px;
  display: inline-block;
}

.summary-detail-header-3 {
  color: #acdecb;
}

.summary-detail-header-3>span {
  margin-left: 5px;
  display: inline-block;
}

.summary-detail-sub {
  color: #00000047;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
}

@media screen and (max-width: 1299px) {
  .summary-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 991px) {
  .summary-img {
    display: none;
  }

  .summary-content {
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .summary-container {
    padding: 10px 30px;
  }

  .summary-detail, .summary-detail-2, .summary-detail-3 {
    padding: 20px;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .summary-detail {
    border: 2px solid #be97f1cc;
  }

  .summary-detail-2 {
    border: 2px solid #99e1ec;
  }

  .summary-detail-3 {
    border: 2px solid #b9d9b9;
  }

  .summary-anchor {
    text-align: center;
  }
}

/* SUMMARY SECTION */
/* OPTION SECTION */
.option {
  background-color: #e9f7f7;
  padding: 70px 0;
}

.option-row, .option-row-2, .option-row-3, .option-row-4 {
  padding: 50px 0;
  display: flex;
}

.column-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.option-header {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.option-text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
}

.option-img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .option-container {
    padding: 0 30px;
    max-width: 90rem;
  }
}

@media screen and (max-width: 575px) {
  .option-row-2>.column-1 {
    order: 1;
  }

  .option-row-2>.column-2 {
    order: 2;
  }

  .option-row-4>.column-1 {
    order: 1;
  }

  .option-row-4>.column-2 {
    order: 2;
  }
}

/* OPTION SECTION */
/* TESTIMONIAL SECTION */
.testimonial {
  background-color: #fff;
  padding: 70px 0;
}

.testimonial-header {
  font-size: 40px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.testimonial-header>span{
  color: #46F7AD;
}

.testimonial-content {
  display: flex;
}

.right {
  background-color: #46F7AD;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.left {
  background-color: #f8fdff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 3.75rem;
}

.testimonial-img {
  height: 30px;
  display: flex;
  align-self: flex-start;
  margin: 20px 0;
}

.right-header {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 20px 0;
}

.right-sub {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.right-sub-2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.left-header {
  color: #002b44;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 20px 0;
}

.left-sub {
  color: #002b44;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.carousel-control-prev {
  top: calc(50% - 2rem);
  bottom: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 15px 25px rgb(38 46 79 / 15%);
  transform: translateY(-50%);
  opacity: 1;
  left: -10px;
}

.carousel-control-next {
  top: calc(50% - 2rem);
  bottom: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 15px 25px rgb(38 46 79 / 15%);
  transform: translateY(-50%);
  opacity: 1;
  right: -10px;
}

.carousel-control-prev-icon {
  background-image: url(img/business/left.svg);
}

.carousel-control-next-icon {
  background-image: url(img/business/right.svg);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 991px) {

  .carousel-control-prev {
    left: -5px;
  }

  .carousel-control-next {
    right: -5px;
  }

  .testimonial-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .testimonial-header {
    font-size: 30px;
  }

  .right-header {
    font-size: 20px;
  }

  .right-sub {
    font-size: 15px;
  }

  .right-sub-2 {
    font-size: 12px;
  }

  .left-header {
    font-size: 50px;
  }

  .left-sub {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px){

  .right{
    padding: 5px 50px;
  }

  .left{
    padding: 5px 50px;
  }

  .testimonial-container {
    padding: 0 30px;
    max-width: 45rem;
  }

.testimonial-content{
  display: flex;
  flex-direction: column;
}

}

@media screen and (max-width: 480px){



}

/* TESTIMONIAL SECTION */

/* FOOTER SECTION */
.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-header {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.footer-sub {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footer-sub>a {
  color: #a2a3a5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.footer-content {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-text {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-text>a {
  color: #a2a3a5;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  padding: 0 15px;
  text-align: center;
}

.footer-icon {
  display: flex;
  margin: 20px 0;
}

.footer-img {
  margin: 0 10px;
  transition: all 0.4s ease;
}

.footer-img:hover {
  color: #a2a3a5;
  transition: all 0.4s ease;
}

a:not([href]):not([class]) {
  color: #a2a3a5;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: #a2a3a5;
}

@media screen and (max-width: 991px) {
  .footer-container {
    padding: 0 30px;
    max-width: 90rem;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: black;
  }

  .footer-row {
    display: none;
  }

  .footer-text>a {
    padding: 10px;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer-text {
    margin: 20px 0;
  }

  .footer-icon {
    margin: 20px 0;
  }
}

/* FOOTER SECTION */
