* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
}

button:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

/* HEADER SECTION */
.navbar {
  background-color: #002B44;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 40px;
  width: 60px;
  margin: 0 10px;
}

.navbar-name {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 0 10px 0 30px;
}

.navbar-name::before {
  content: '|';
  padding-right: 10px;
}

.dropdown-menu {
  background-color: #354D73;
}

.dropdown-item {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  padding: 10px 24px;
}

.dropdown-item:hover {
  background-color: #b7d5e4;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #fff;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
}

.navbar-dark .navbar-nav .demo {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-btn {
  background: #46F7AD;
  color: #002B44;
  padding: 10px 15px;
  border: 0;
  text-transform: uppercase;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
}

.navbar .navbar-nav .nav-item:hover .nav-btn {
  color: #002B44;
}

.navbar-dark .navbar-nav .verification::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .about::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .company::before {
  content: '|';
  padding-right: 8px;
}

.navbar-dark .navbar-nav .login::before {
  content: '|';
  padding-right: 8px;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .nav-logo {
    margin: 0 10px 0 0;
    height: 25px;
    width: 40px;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-item {
    margin: 5px 0;
  }

  .navbar-name {
    margin: 0 10px 0 10px;
    font-size: 12px;
  }

  .collapse {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-dark .navbar-nav .nav-link {
    margin: 0;
  }

  .navbar-dark .navbar-nav .nav-btn {
    margin: 0;
  }

  .navbar-dark .navbar-nav .about::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .company::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .verification::before {
    content: none;
    padding-right: 0;
  }

  .navbar-dark .navbar-nav .login::before {
    content: none;
    padding-right: 0;
  }
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #fff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* ============ desktop view .end// ============ */
/* HEADER SECTION */

/* HERO SECTION */
.hero {
  background: linear-gradient(90deg, #002b44, #000000);
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.hero-container {
  margin-top: 80px;
}

.hero-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-header {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  color: #fff;
}

.hero-sub {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  color: #c1c2c5;
}

.hero-btn {
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.hero-btn:hover {
  border: 1px solid #46F7AD;
  background-color: #46F7AD;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s ease;
}

.hero-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .hero-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .hero-header {
    font-size: 30px;
  }

  .hero-sub {
    font-size: 15px;
  }
}

/* HERO SECTION */

/* VIEW SECTION */
.view{
  background: rgb(13,21,55);
  padding: 70px 0;
}

.view-header{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
}

.view-sub{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  color: #737a96;
  text-align: center;
}

.view-row{
  margin: 50px 0;
}

.view-column{
  display: flex;
  margin: 20px 0;
}

.view-column-text{
  margin:0 15px;
}

.view-column-header{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  color: #fff;
}

.view-column-sub{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  color: #737a96;
}

.view-img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .view-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .view-header {
    font-size: 30px;
  }

  .view-sub {
    font-size: 15px;
  }

  .view-column-header{
    font-size: 15px;
  }

  .view-column{
    padding: 0;
  }

  .view-column-sub{
    font-size: 13px;
  }
}
/* VIEW SECTION */


/* OPTION SECTION */
.option{
  background-color: #fff;
  padding: 70px 0;
}

.option-row, .option-row-2{
  margin: 50px 0;
}

.option-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.option-column-header{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  color: black;
}


.option-column-sub{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  color: #737a96;
}

.option-content-1{
  display: flex;
  margin: 20px 0;
}

.option-content-text{
  margin:0 15px;
}

.option-content-header{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  color: black;
}

.option-content-sub{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  color: #737a96;
}

.option-img, .option-img-2{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px){
  .option-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .option-column-header {
    font-size: 30px;
  }

  .option-column-sub {
    font-size: 15px;
  }

  .option-content-header{
    font-size: 15px;
  }

  .option-column{
    padding: 0;
  }

  .option-content-sub{
    font-size: 13px;
  }
}

@media screen and (max-width: 767px){
.option-row-2> .option-column-2{
  order: 2;
}
}



/* OPTION SECTION */

/* TESTIMONIAL SECTION */
.testimonial {
  background-color: #fff;
  padding: 70px 0;
}

.testimonial-header {
  font-size: 40px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.testimonial-header>span {
  color: #46F7AD;
}

.testimonial-content {
  display: flex;
}

.right {
  background-color: #46F7AD;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.left {
  background-color: #f8fdff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 3.75rem;
}

.testimonial-img {
  height: 30px;
  display: flex;
  align-self: flex-start;
  margin: 20px 0;
}

.right-header {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 20px 0;
}

.right-sub {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.right-sub-2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.left-header {
  color: #002b44;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 20px 0;
}

.left-sub {
  color: #002b44;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.carousel-control-prev {
  top: calc(50% - 2rem);
  bottom: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 15px 25px rgb(38 46 79 / 15%);
  transform: translateY(-50%);
  opacity: 1;
  left: -10px;
}

.carousel-control-next {
  top: calc(50% - 2rem);
  bottom: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 15px 25px rgb(38 46 79 / 15%);
  transform: translateY(-50%);
  opacity: 1;
  right: -10px;
}

.carousel-control-prev-icon {
  background-image: url(img/business/left.svg);
}

.carousel-control-next-icon {
  background-image: url(img/business/right.svg);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 991px) {
  .carousel-control-prev {
    left: -5px;
  }

  .carousel-control-next {
    right: -5px;
  }

  .testimonial-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .testimonial-header {
    font-size: 30px;
  }

  .right-header {
    font-size: 20px;
  }

  .right-sub {
    font-size: 15px;
  }

  .right-sub-2 {
    font-size: 12px;
  }

  .left-header {
    font-size: 50px;
  }

  .left-sub {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .right {
    padding: 5px 50px;
  }

  .left {
    padding: 5px 50px;
  }

  .testimonial-container {
    padding: 0 30px;
    max-width: 45rem;
  }

  .testimonial-content {
    display: flex;
    flex-direction: column;
  }
}

/* TESTIMONIAL SECTION */

/* CTA SECTION */
.cta {
  background-color: #e9f7f7;
  padding: 70px 0;
}

.cta-img {
  max-width: 110%;
  height: auto;
}

.cta-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-button {
  display: flex;
}

.cta-header {
  font-size: 40px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.cta-sub {
  font-size: 20px;
  color: #00000047;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.cta-btn-1 {
  border: 1px solid #46F7AD;
  background-color: #fff;
  font-size: 15px;
  color: #46F7AD;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: all 0.5s ease;
  width: 100%;
}

.cta-btn-1:hover {
  background-color: #46F7AD;
  color: #fff;
  transition: all 0.5s ease;
}

.cta-btn-2 {
  border: 1px solid #46F7AD;
  background-color: #46F7AD;
  font-size: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: all 0.5s ease;
  width: 100%;
}

.cta-btn-2:hover {
  background-color: #fff;
  color: #46F7AD;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .cta-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .cta-container {
    padding: 0 30px;
    max-width: 90rem;
  }

  .cta-header {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cta {
    padding-bottom: 20px;
  }

  .cta-column-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .cta-img {
    width: 120%;
    height: auto;
  }
}

@media screen and (max-width: 382px) {
  .cta-button {
    display: flex;
    flex-direction: column;
  }

  .cta-btn-2 {
    margin-left: 0px;
  }
}

/* CTA SECTION */


/* FOOTER SECTION */
.footer {
  background-color: black;
  padding: 70px 0;
  display: flex;
}

.footer-image {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.footer-logo {
  height: auto;
  width: 80px;
}

.footer-header {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.footer-sub {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footer-sub>a {
  color: #a2a3a5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.footer-content {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-text {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-text>a {
  color: #a2a3a5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  padding: 0 15px;
  text-align: center;
}

.footer-icon {
  display: flex;
  margin: 20px 0;
}

.footer-img {
  margin: 0 10px;
  transition: all 0.4s ease;
}

.footer-img:hover {
  color: #a2a3a5;
  transition: all 0.4s ease;
}

a:not([href]):not([class]) {
  color: #a2a3a5;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: #a2a3a5;
}

@media screen and (max-width: 991px) {
  .footer-container {
    padding: 0 30px;
    max-width: 90rem;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: black;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-row {
    display: none;
  }

  .footer-image {
    margin: 0;
  }

  .footer-text>a {
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 2;
  }

  .footer-text {
    margin: 20px 0;
  }

  .footer-icon {
    margin: 20px 0;
  }
}

/* FOOTER SECTION */
